
    {%extends 'base.html'%}
    {%block content%}
    
    <br>
    <div class = "a" style = "display:flex;justify-content: center;padding-top: 20px;">
        <div class = "b" >
        <table class="table" style="border: solid black 2px;">
            <thead>
                <tr>
                <th scope="col">Roll Number</th>
                <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                {%for i in messages%}
                <tr>
                    <td>{{i['data']}}</td>
                    <td>{{i['time']}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <form action="/deleteAll" method="post">
            <input type="submit" value="Delete All Records">
        </form>
    </div>
    </div> 
    {%endblock%}
