{%extends 'base.html'%}
{%block content%}
<form action="/register" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="employeeId" class="form-label">Employee ID</label>
        <input type="text" class="form-control" id="employeeId" name="employeeId">
    </div>
    <div class="mb-3">
        <h5>Authentication Details</h5>
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
        <label for="repeatPassword" class="form-label">Repeat Password</label>
        <input type="password" class="form-control" id="repeatPassword" name="repeatPassword">
    </div>
    <div class="container mt-4">
        <div class="classes mb-3">
            <label for="classes" class="form-label">Select A Class</label>
            <select class="form-select" id="classes" name="classes">
                {% for class in classes %}
                <option value="{{ class.get('class_name') }}">{{ class.get('class_name') }}</option>
                {% endfor %}
            </select>
            <div class="subjects mt-3 ms-3">
                <label for="subjects" class="form-label">Select A Subject</label>
                <select class="form-select" id="subjects" name="subjects">
                    {% for subject in subjects %}
                    <option value="{{ subject.get('subject_name') }}">{{ subject.get('subject_name') }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    
    <button type="button" id="addClassButton" class="btn btn-secondary">Add Class</button>
    <button type="submit" class="btn btn-primary">Register</button></form>
    <script>
        var counter = 0
        document.getElementById('addClassButton').addEventListener('click', function() {
            var classes = document.getElementById('classes');
            var subjects = document.getElementById('subjects');
            var classOption = classes.options[classes.selectedIndex];
            var subjectOption = subjects.options[subjects.selectedIndex];
            var classList = document.createElement('li');
            var hidden_class = document.createElement('input');

            hidden_class.type = 'hidden';
            hidden_class.name = `class${counter}`;
            hidden_class.value = classOption.value;
            hidden_class.className = 'class';

            var hidden_subject = document.createElement('input');
            hidden_subject.type = 'hidden';
            hidden_subject.name = `subject${counter}`;
            hidden_subject.value = subjectOption.value;
            hidden_subject.className = 'subject';


            document.querySelector('form').appendChild(hidden_class);
            document.querySelector('form').appendChild(hidden_subject);
            classList.className = 'list-group-item';
            classList.textContent = classOption.textContent + ' - ' + subjectOption.textContent;
            classList.style = 'display: flex; justify-content: space-between;padding: 0.5rem;border: 1px solid blue;margin-top: 0.5rem;border-radius: 0.5rem;';
            document.querySelector('.classes').prepend(classList);
            classes.selectedIndex = -1;
            subjects.selectedIndex = -1;
            counter = counter+1;
        });
        document.querySelector('form').addEventListener('submit', function() {
            var count = document.createElement('input');
            count.type = 'hidden';
            count.name = 'count';
            count.value = counter;
            document.querySelector('form').appendChild(count);

            }
        )
    </script>
{% endblock %}

