{%extends 'base.html'%}
{%block content%}
    <br>
    <div class = "a" style = "display:flex;justify-content: center;padding-top: 20px;">
        <div class = "b" >
    {%if messages %}
    <table class="table" style="border: solid black 2px;">
        <thead>
            <tr>
            <th scope="col">Roll Number</th>

            </tr>
        </thead>
        <tbody>
            {%for i in messages['students'] %}
            <tr>
                <td>{{i}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {% else %}
    <div class="welcome" style="display: flex;justify-content: center;flex-direction: row;">
        <h1>Listening..</h1>
    </div>  
    {%endif%}
</div>
</div> 
{%endblock%}
